form{
    width: 1000px;
    background: burlywood;
}

section{
    padding: 50px;
    background: darkgray;
    width: 1100px;
}

.form-label{
    color: aqua;
}

#submit{
    color: black;
    background-color: darkgreen;
}

#answer {
    color: darkgoldenrod;
    background-color: black;
}